.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    @media (max-width: 900px) {
      display: flex;
      flex-wrap: wrap;
    }

  }
  h1 {
    font-size: 1.7rem;
      background: linear-gradient(to right, #090a2d, #ec6948);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  
  .navbar-tools {
    display: flex;
    gap: 40px;
  }